.mobile-menu-container {
    position: fixed;
    top: 8px;
    right: 8px;
    z-index: 50;
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: rgba(28, 38, 53, 0.6);
    border: 1px solid white;
    border-radius: 10px;
    cursor: pointer;
    transition: all 1s ease;
    &:hover{
        background: rgba(28, 38, 53, 0.9);
    }
  }
  
  .hamburger {
    width: 25px;
    height: 25px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: none;
    background: transparent;
    cursor: pointer;
    z-index: 100;
    
  }
  .hamburger span {
    display: block;
    height: 3px;
    background: #fff;
    border-radius: 2px;
    transition: all 0.3s ease;
  }
  .hamburger.open span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  .hamburger.open span:nth-child(2) {
    opacity: 0;
  }
  .hamburger.open span:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
  }
  .mobile-menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 250px;
    height: 100vh;
    background: var(--color-gray-100);
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    transition: left 0.3s ease;
  }
  .mobile-menu.active {
    left: 0;
  }
  .mobile-nav-link {
    color: var(--color-gray-900);
    padding:3px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    transition: color 0.3s;
  }
 .mobile-nav-link:hover {
    color: var(--color-selected);
  }
  