/* Switch.css */
.toggle-checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.toggle-slot {
    font-size: 10px;
    position: relative;
    height: 3.5em;
    width: 7em;
    border: 0px solid transparent;
    border-radius: 10em;
    background-color: #45BBA5;
    transition: background-color 250ms;
    cursor: pointer;
}

.toggle-checkbox:checked ~ .toggle-slot {
    background-color: #45BBA5;
}

.toggle-button {
    transform: translate(0.3em, 0.25em);
    position: absolute;
    height: 3em;
    width: 3em;
    border-radius: 50%;
    background-color: #45BBA5;
    box-shadow: inset 0px 0px 0px 0.75em white;
    transition: background-color 250ms, border-color 250ms, transform 500ms cubic-bezier(.26, 2, .46, .71);
}

.toggle-checkbox:checked ~ .toggle-slot .toggle-button {
    background-color: #45BBA5;
    box-shadow: inset 0px 0px 0px 0.75em white;
    transform: translate(3.65em, 0.25em);
}
